body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-container {
    background: red; 
}
div.align{
    text-align: center;
}
.secondary-container{
    background: gold;
    border: 3px solid #000000;
}
#mainheader{
    text-align: center;
    position: relative;
    left: 20px;
    top:5px;
    color: gold;
    opacity: .75;
    font-size: 60px;
}