#hover{
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    background-color: rgb(28,205,202);
    border-color: #8f8b8b #383636 #383636 
}

#hover:hover {
    color: blueviolet;
    font-style: italic;
}

/*Add @import code */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}