body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {
    
    /* Draw a solid border make it black */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    /*Add space between the border and its inside elements. */
    padding: 10px;
    /* Color the background red. */
    background : red;
    width: 75%;
    margin: auto;
}

div.align{
    text-align: center;
}

.secondary-container{
    
    margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 1px black solid;
    border-spacing: inherit;
}

#mainheader{
    text-align: center;
    position: relative;
    left: 20px;
    top:5px;
    color: gold;
    opacity: .75;
    font-size: 60px;
}